<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title%> -电商平台</title>
</head>
<body>
    <%= require('html-loader!./layout/nav.html') %>
    <%= require('html-loader!./layout/header.html') %>
    <div class="crumb">
        <div class="w">
            <div class="crumb-con">
                <a class="link" href="./index.html">Mall</a>
                <span>></span>
                <span class="link-text"><%= htmlWebpackPlugin.options.title%></span>
            </div>
        </div>
    </div>
    <div class="page-wrap w"></div>
    <%= require('html-loader!./layout/footer.html') %>
</body>
</html>