<div class="footer">
    <div class="w">
        <div class="links">
            <a href="#" class="link" target="_blank">博客</a> |
            <a href="#" class="link" target="_blank">博客</a> |
            <a href="#" class="link" target="_blank">博客</a> |
            <a href="#" class="link" target="_blank">博客</a>
        </div>
        <p class="copyright">
            Copyright©ZJW mall server
        </p>
    </div>
</div>
<!--<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>-->
<script src="https://apps.bdimg.com/libs/jquery/1.11.3/jquery.min.js"></script>